# Transformation from thermal circuit (obtained by assembling) to state-space

Consider the disassembled thermal circuits shown in Figure 1 that we want to assemble as shown in Figure 2 and then obtain the state-space representation.

![disassambled_TC](./bldg/ass_TCd.svg)
> Figure 1. Four disassembled thermal circuits: wall_out, TC0, TC1, TC2, TC3.

![disassambled_TC](./bldg/ass_TC.svg)
> Figure 2. The assembling of the four circuits from Figure 1.

In [1]:
import pandas as pd
import pd_dm4bem

# Disassembled thermal circuits
folder_path = "bldg"
TCd = pd_dm4bem.bldg2TCd(folder_path,
                         TC_auto_number=True)
# For non auto-numbering of thermal circuits TC
# TCd = pd_dm4bem.bldg2TCd(folder_path, TC_auto_number=False)

# Assembled thermal circuit
# from assembly_matrix.csv')
ass_mat = pd.read_csv(folder_path + '/assembly_matrix.csv')
TCm = pd_dm4bem.assemble_TCd_matrix(TCd, ass_mat)

# from assembly_lists.csv'
ass_lists = pd.read_csv(folder_path + '/assembly_lists.csv')
ass_mat = pd_dm4bem.assemble_lists2matrix(ass_lists)
TCl = pd_dm4bem.assemble_TCd_matrix(TCd, ass_mat)

# State-space from TC
[As, Bs, Cs, Ds, us] = pd_dm4bem.tc2ss(TCl)

In [2]:
As

           c1_θ0      c2_θ0    ow0_θ1    ow0_θ3
c1_θ0  -0.000240   0.000085  0.000000  0.000002
c2_θ0   0.002857 -30.868122  0.000000  0.000790
ow0_θ1  0.000000   0.000000 -0.000024  0.000002
ow0_θ3  0.000011   0.000107  0.000121 -0.000239

In [3]:
Bs

,c1_q0,c2_q0,c3_q0,ow0_q0,c1_θ0,c2_θ0,ow0_θ0,ow0_θ4
c1_θ0,0.000152,0.000000,0.000000,0.000000,9.182736e-07,0.000000,0.000000e+00,8.022399e-08
c2_θ0,0.000000,0.000278,30.864198,0.000000,0.000000e+00,0.000031,0.000000e+00,2.600003e-05
ow0_θ1,0.000000,0.000000,0.000000,0.000022,0.000000e+00,0.000000,1.970654e-08,0.000000e+00
ow0_θ3,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,2.931595e-07

In [4]:
Cs

        c1_θ0  c2_θ0    ow0_θ1  ow0_θ3
c2_θ0     0.0    1.0  0.000000     0.0
ow0_θ0    0.0    0.0  0.358974     0.0

In [5]:
Ds

        c1_q0  c2_q0  c3_q0    ow0_q0  c1_θ0  c2_θ0   ow0_θ0  ow0_θ4
c2_θ0     0.0    0.0    0.0  0.000000    0.0    0.0  0.00000     0.0
ow0_θ0    0.0    0.0    0.0  0.641026    0.0    0.0  0.00057     0.0

In [6]:
us

c1_q0        To
c2_q0        To
c3_q0     Ti_sp
ow0_q0       To
c1_θ0         Φ
c2_θ0        Qa
ow0_θ0       Qo
ow0_θ4       Qi
dtype: object